@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
	background-color: #1e1e2e;
	max-width: 100%;
	overflow-x: hidden;
	/* overflow-y: hidden; */
	/* height: 1000vh; */
}

body {
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#header-right {
	z-index: 2;
	float: right;
	right: 0.66vw;
	position: fixed;
}

#smiley-toggle {
	aspect-ratio: 1;
	border: 0;
	padding: 0.00vw;
	/* background-color: #f9e2af; */
	background: none;
	border-radius: 50%;
	display: grid;
	place-items: center;
	z-index: 1;
	cursor: pointer;
	position: relative;
	/* Required for the ::after pseudo-element */
	/* transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); */
}

#smiley {
	width: 5.27vw;
	border-radius: 50%;
	z-index: 1;
	transform-origin: center;
	padding: 0.33vw;
	/* background-color: #f9e2af; */
	transform-style: preserve-3d;
}

#logo {
	background-color: #f9e2af;
	border-radius: 50%;
}

#logo-clipping {
	z-index: 1;
	clip-path: none;
}

#logo-clipping[clipping] {
	clip-path: circle(50%);
}

#smiley[sidebar-open] {
	animation: spin 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

#smiley[wiggling] {
	transform-origin: bottom;
	/* transform: perspective(52.74vw); */
	animation: wiggle 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		filter: blur(0.00vw);
	}

	50% {
		filter: blur(0.26vw);
	}

	100% {
		transform: rotate(720deg);
		filter: blur(0.00vw);
	}
}

@keyframes wiggle {
	0% {
		transform: perspective(52.74vw) rotateX(0deg);
		filter: blur(0.00vw);
	}

	25% {
		transform: perspective(52.74vw) rotateX(75deg);
		filter: blur(0.20vw);
	}

	50% {
		transform: perspective(52.74vw) rotateX(-86deg);
		filter: blur(0.13vw);
	}

	75% {
		transform: perspective(52.74vw) rotateX(54deg);
		filter: blur(0.20vw);
	}

	100% {
		transform: perspective(52.74vw) rotateX(0deg);
		filter: blur(0.00vw);
	}
}

#right-sidebar {
	position: fixed;
	top: 0;
	right: -20vw;
	/* Initially hidden */
	width: 18vw;
	/* Width of the sidebar */
	height: 100%;
	/* margin-top: 5.27vw; */
	background-color: #11111b;
	padding: 1vw;
	box-shadow: -0.13vw 0 0.33vw rgba(0, 0, 0, 0.5);
	transition: right 0.3s ease-in-out;
}

#right-sidebar[shown] {
	right: 0;
	/* Slide in when 'shown' attribute is present */
}

#right-sidebar-content {
	margin-top: 5.27vw;
}

#main-content {
	padding: 6.59vw;
}

.title-container {
	height: 6.59vw;
	display: flex;
	align-items: center;
}

.static-text {
	color: #cdd6f4;
	display: inline;
	font-size: 2.5vh;
	/* line-height: 200%; */
	font-family: "Fira Code", monospace;
	font-optical-sizing: auto;
	/* word-break: break-all; */
	/* overflow: hidden; */
	word-break: auto-phrase;
	word-wrap: break-word;
	white-space: pre-line;
	/* word-break: break-all; */
}

.link {
	font-weight: 800;
}

.scrambled-text-multilingual {
	color: #cdd6f4;
	display: inline;
	font-size: 2.5vh;
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
}

/* .section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
} */


#media {
	height: 100vh;
	/* top: 50vh; */
	overflow: hidden;
	/* background-image: linear-gradient(210deg, #101214, #394e38, #778843, #deeb57, #3d5a8a); */
	border-radius: 3.30vw;
	/* background-image: url("../images/posters/backgrounds/all-about-lily-chou-chou.jpg"); */
	/* background-size: cover; */
	/* padding: 1.98vw; */
	/* filter: blur(0.53vw); */
}

.horizontal-wrapper {
	display: flex;
	height: 100vh;
	/* padding-top: 50%; */
	/* top: 50vh; */
}

.horizontal-item {
	min-width: 100%;
	/* max-width: 100%; */
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2rem;
	will-change: transform;
	padding: 6.59vw;
	/* opacity: 0; */
}

/* .horizontal-item:nth-child(odd) {
	background-color: #f0f0f0;
}

.horizontal-item:nth-child(even) {
	background-color: #ddd;
} */
/* 

#media-wrapper {
	position: absolute;
}

.media-card {
	position: absolute;
	width: 19.78vw;
	height: 19.78vw;
	border-radius: 1.32vw;
	overflow: hidden;
}

.poster {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	object-fit: cover;
} */

.media-title {
	background-clip: text;
	color: transparent;
	pointer-events: none;
	font-size: 10vh;
	/* background-position: 10% 10%; */
	/* background-image: url("../images/posters/all-about-lily-chou-chou.jpg"); */
}

#media-title-1 {
	background-image: url("../images/posters/backgrounds/all-about-lily-chou-chou.jpg");
}

#media-title-2 {
	background-image: url("../images/posters/backgrounds/even-if-this-love-disappears-from-the-world-tonight.jpg");
}

#media-title-3 {
	background-image: url("../images/posters/backgrounds/cowboy-bebop.jpg");
}

#media-title-4 {
	background-image: url("../images/posters/backgrounds/terror-in-resonance.jpg");
}

#media-title-5 {
	background-image: url("../images/posters/backgrounds/words-bubble-up-like-soda-pop.jpg");
	background-position: 70% 40%;
}

#media-title-6 {
	background-image: url("../images/posters/backgrounds/monster.jpg");
}

/* .media-title::before{
	filter: blur(0.26vw);
} */

#media-backgrounds {
	position: fixed;
	/* Change to absolute if it needs to scroll with content */
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	/* Adjust to cover the viewport */
	overflow: hidden;
	z-index: -1;
	/* Ensure it's behind the content */
}

#media-backgrounds img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* Cover the container */
	opacity: 0;
	filter: blur(3.30vw) brightness(50%);
	/* z-index: 10; */
}

#media-backgrounds img:first-child {
	opacity: 1;
	/* Make the first image visible initially */
}

.parallax-image {
	position: absolute;
	width: 19.78vw;
	/* Adjust as needed */
	height: auto;
	transform: rotate(15deg);
	border-radius: 0.66vw;
	left: 6.59vw;
	top: 0;
	z-index: -1;
	/* Ensure they are above other content */
}

.parallax-preview {
	position: absolute;
	width: 13.18vw;
	/* Adjust as needed */
	height: auto;
	transform: rotate(-10deg);
	border-radius: 0.66vw;
	top: 19.78vw;
	right: 19.78vw;
	/* top: 0.66vw; */
	/* Maintain aspect ratio */
	/* z-index: -1; */
}

.media-description {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/* line-height: 100%; */
	/* flex-wrap: wrap; */
	/* padding: 0.66vw; */
}

.media-notes {
	/* position: absolute; */
	/* flex-grow: 1; */
	max-width: 80%;

	/* top: 0.00vw; */
	/* right: 19.78vw; */
	z-index: 1;
}

.media-quotes {
	/* text-align: center; */
	color: #cba6f7;
	text-shadow: 0.13vw 0.13vw 0.66vw #735e8d;
	max-width: 70%;
}

.center-text {
	text-align: center;
}

.github-repo-title {
	color: #cba6f7;
}

#github-cards {
	display: flex;
	justify-content: space-around;
	/* vertical-align: cen; */
	flex-wrap: wrap;
}

.github-card-content {
	background-color: #313244;
	padding: 3%;
	border-radius: 0.66vw;
	width: 30%;
	flex-grow: 1;
	margin: 1%;
}

.github-logo {
	width: 10%;
	float: right;
}

#eva01 {
	background-image: url("../images/backgrounds/eva01.png");
	position: relative;
	height: 200vh;
	transform: scale(0.475);
}

.eva01-component {
    position: absolute;
	/* height: 50%; */
	/* transform: scale(0.475); */
    /* bottom: 10vw; */
}

#eva01-head { transform: translate(-0.26vw, 29.58vh); }
#eva01-left-arm-cutoff { transform: translate(74.74vw, 140.88vh); }
#eva01-right-arm { transform: translate(29.05vw, 150.82vh); }
#eva01-shoulder-blade { transform: translate(52.80vw, 2.17vh); }
#eva01-torso { transform: translate(20.68vw, 56.12vh); }


.title-card {
	display: flex;
	font-size: 50vh;
	position: absolute;
	justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    width: 100%; /* Ensure the parent takes full width if needed */
    height: 100%; /* Ensure the parent takes full height if needed */
    text-align: center;
	/* text-align: center; */
	/* vertical-align: middle; */
}

/* hack? */

.eva01-purple {
	color: #965fd4;
}

.eva01-green {
	color: #8bd450;
}