@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
	background-color: #1e1e2e;
	max-width: 100%;
	overflow-x: hidden;
	/* overflow-y: hidden; */
	/* height: 1000vh; */
}

body {
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#header-right {
	z-index: 2;
	float: right;
	right: 0.66vw;
	position: fixed;
}

#smiley-toggle {
	aspect-ratio: 1;
	border: 0;
	padding: 0.00vw;
	/* background-color: #f9e2af; */
	background: none;
	border-radius: 50%;
	display: grid;
	place-items: center;
	z-index: 1;
	cursor: pointer;
	position: relative;
	/* Required for the ::after pseudo-element */
	/* transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1); */
}

#smiley {
	height: 10.54vh;
	border-radius: 50%;
	z-index: 1;
	transform-origin: center;
	padding: 0.33vw;
	/* background-color: #f9e2af; */
	transform-style: preserve-3d;
}

#logo {
	background-color: #f9e2af;
	border-radius: 50%;
}

#logo-clipping {
	z-index: 1;
	clip-path: none;
}

#logo-clipping[clipping] {
	clip-path: circle(50%);
}

#smiley[sidebar-open] {
	animation: spin 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

#smiley[wiggling] {
	transform-origin: bottom;
	/* transform: perspective(52.74vw); */
	animation: wiggle 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		filter: blur(0px);
	}

	50% {
		filter: blur(5px);
	}

	100% {
		transform: rotate(720deg);
		filter: blur(0px);
	}
}

@keyframes wiggle {
	0% {
		transform: perspective(52.74vw) rotateX(0deg);
		filter: blur(0px);
	}

	25% {
		transform: perspective(52.74vw) rotateX(75deg);
		filter: blur(5px);
	}

	50% {
		transform: perspective(52.74vw) rotateX(-86deg);
		filter: blur(3px);
	}

	75% {
		transform: perspective(52.74vw) rotateX(54deg);
		filter: blur(5px);
	}

	100% {
		transform: perspective(52.74vw) rotateX(0deg);
		filter: blur(0px);
	}
}

#right-sidebar {
	position: fixed;
	top: 0;
	right: -20vw;
	/* Initially hidden */
	width: 18vw;
	/* Width of the sidebar */
	height: 100%;
	/* margin-top: 5.27vw; */
	background-color: #11111b;
	padding: 1vw;
	box-shadow: -0.13vw 0 0.33vw rgba(0, 0, 0, 0.5);
	transition: right 0.3s ease-in-out;
}

#right-sidebar[shown] {
	right: 0;
	/* Slide in when 'shown' attribute is present */
}

#right-sidebar-content {
	margin-top: 5.27vw;
}

#main-content {
	padding: 6.59vw;
}

.title-container {
	height: 6.59vw;
	display: flex;
	align-items: center;
}

.static-text {
	color: #cdd6f4;
	display: inline;
	font-size: 2.5vh;
	/* line-height: 200%; */
	font-family: "Fira Code", monospace;
	font-optical-sizing: auto;
	/* word-break: break-all; */
	/* overflow: hidden; */
	/* word-break: auto-phrase; */
	word-wrap: break-word;
	white-space: pre-line;
	/* word-break: break-all; */
}

.link {
	font-weight: 800;
}

.scrambled-text-multilingual {
	color: #cdd6f4;
	display: inline;
	font-size: 2.5vh;
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
}

/* .section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
} */


#media {
	height: 100vh;
	/* top: 50vh; */
	overflow: hidden;
	/* background-image: linear-gradient(210deg, #101214, #394e38, #778843, #deeb57, #3d5a8a); */
	border-radius: 3.30vw;
	/* background-image: url("../images/posters/backgrounds/all-about-lily-chou-chou.jpg"); */
	/* background-size: cover; */
	/* padding: 1.98vw; */
	/* filter: blur(0.53vw); */
}

.horizontal-wrapper {
	display: flex;
	height: 100vh;
	/* padding-top: 50%; */
	/* top: 50vh; */
}

.horizontal-item {
	min-width: 100%;
	/* max-width: 100%; */
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* font-size: 2rem; */
	will-change: transform;
	/* padding: 6.59vw; */
	/* opacity: 0; */
}

/* .media-contents {
	padding: 6.59vw;
} */

.media-title {
	background-size: cover;
	font-size: 10rem;
	background-position: center center;
	background-repeat: no-repeat;
	color: transparent;
	width: 100%;
	height: 100%;
	vertical-align: top;
	position: absolute;
	background-clip: text;
	pointer-events: none;
}


#media-title-1 {
	background-image: url("../images/posters/backgrounds/all-about-lily-chou-chou.jpg");
}

#media-title-2 {
	background-image: url("../images/posters/backgrounds/even-if-this-love-disappears-from-the-world-tonight.jpg");
}

#media-title-3 {
	background-image: url("../images/posters/backgrounds/cowboy-bebop.jpg");
}

#media-title-4 {
	background-image: url("../images/posters/backgrounds/terror-in-resonance.jpg");
}

#media-title-5 {
	background-image: url("../images/posters/backgrounds/words-bubble-up-like-soda-pop.jpg");
}

#media-title-6 {
	background-image: url("../images/posters/backgrounds/monster.jpg");
}

#media-backgrounds {
	position: fixed;
	/* Change to absolute if it needs to scroll with content */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Adjust to cover the viewport */
	overflow: hidden;
	z-index: -1;
	/* Ensure it's behind the content */
}

#media-backgrounds img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* Cover the container */
	opacity: 0;
	filter: blur(10px) brightness(50%);
	/* z-index: 10; */
}

#media-backgrounds img:first-child {
	opacity: 1;
	/* Make the first image visible initially */
}

.parallax-image {
	position: absolute;
	width: 19.78vw;
	/* Adjust as needed */
	height: auto;
	transform: rotate(15deg);
	border-radius: 0.66vw;
	left: 6.59vw;
	top: 0;
	z-index: -1;
	/* Ensure they are above other content */
}

.parallax-preview {
	position: absolute;
	width: 13.18vw;
	/* Adjust as needed */
	height: auto;
	transform: rotate(-10deg);
	border-radius: 0.66vw;
	top: 19.78vw;
	right: 19.78vw;
	/* top: 0.66vw; */
	/* Maintain aspect ratio */
	/* z-index: -1; */
}

.media-description {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/* line-height: 100%; */
	/* flex-wrap: wrap; */
	/* padding: 0.66vw; */
}

.media-notes {
	position: absolute;
	/* flex-grow: 1; */
	max-width: 30%;

	/* top: 0.00vw; */
	left: 40%;
	z-index: 1;
}

.media-quotes {
	/* text-align: center; */
	color: #cba6f7;
	left: 70%;
	/* float: right; */
	position: absolute;
	vertical-align: top;
	/* text-shadow: 0.13vw 0.13vw 0.66vw #735e8d; */
	transform: rotate(90deg);
	max-width: 30%;
	max-height: 20%;
}

.center-text {
	text-align: center;
}

.github-repo-title {
	color: #cba6f7;
}

#github-cards {
	display: flex;
	justify-content: space-around;
	/* vertical-align: cen; */
	flex-wrap: wrap;
	columns: auto;
}

.github-card-content {
	background-color: #313244;
	padding: 3%;
	border-radius: 0.66vw;
	width: 30%;
	flex-grow: 1;
	margin: 1%;
}

.github-logo {
	height: 5vh;
	float: right;
}

.itchio-logo {
	height: 5vh;
	float: right;
}

#eva01 {
	background-image: url("../images/blowups/eva01/background.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/* height: 100vh; */
	/* position: absolute; */
	/* Use relative positioning */
	display: flex;
	align-items: baseline;
	justify-content: center;
}

#eva01-components {
	/* transform: scale(1); */
	/* transform-origin: center; */
	/* Scale from the center */
	position: relative;
	/* transform: scale(1); */
	/* width: 1000px; */
	/* Ensure it's centered within the container */
}

.eva01-component {
	object-fit: contain;
}

.eva01-component:not(#eva01-torso) {
	position: absolute;
	/* height: 10%; */
}

/* widths derived from width of element divided by 1920, heights from guessing */
#eva01-head {
	max-width: 36%;
	z-index: 1;
	left: 0.28958333333%;
	top: 11.704629629%;
	/* transform: translate(0px, calc(291.83px - 111.42px)); */
	/* New: 5.56px, 180.41px */
}

#eva01-left-arm-cutoff {
	max-width: 8.6%;
	left: 62.650520833%;
	top: 57.524074074%;
	/* transform: translate(0px, calc(1008.08px - 111.42px)); */
	/* New: 1202.89px, 896.66px */
}

#eva01-right-arm {
	max-width: 15.5%;
	left: 20.853645833%;
	top: 60.389814814%;
	z-index: -1;
	/* transform: translate(0px, calc(1066.03px - 111.42px)); */
	/* New: 400.39px, 954.61px */
}

#eva01-shoulder-blade {
	max-width: 28.7%;
	left: 37.725520833%;
	top: 0.162037037%;
	/* transform: translate(0px, calc(113.17px - 111.42px)); */
	/* New: 724.33px, 1.75px */
}

#eva01-torso {
	max-width: 71.6%;
	/* transform: translate(calc(225.44px - 225.44px), calc(111.42px - 111.42px)); */
	/* New: 0px, 0px */
}


.title-card {
	position: fixed;
	/* bottom: -30vh; */
	font-size: 30rem;
	white-space: nowrap;
	z-index: -1;
}

/* hack? */

.eva01-purple {
	color: #965fd4;
}

.eva01-green {
	color: #8bd450;
}