html {
	/* background-color: #1e1e2e; */
	max-width: 100%;
	/* overflow-x: hidden; */
	/* overflow-y: hidden; */
	height: 400vh;
}

#eva01 {
	background-image: url("../images/backgrounds/eva01.png");
	position: relative;
	/* height: 200vh; */
	transform: scale(0.475);
}

.eva01-component {
    position: absolute;
	/* height: 50%; */
	/* transform: scale(0.475); */
    /* bottom: 10vw; */
}

#eva01-head { transform: translate(0.86vw, 43.43vh); }
#eva01-left-arm-cutoff { transform: translate(89.11vw, 154.24vh); }
#eva01-right-arm { transform: translate(29.83vw, 162.36vh); }
#eva01-shoulder-blade { transform: translate(53.74vw, 15.46vh); }
#eva01-torso { transform: translate(21.63vw, 68.49vh); }